.hero {
  margin: 3rem 4rem 3rem 4rem;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid #ff8787;
  gap: 6rem;
}
.hero-img {
  width: 40rem;
  height: 30rem;
}
.hero-heading {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 3rem;
}
.hlt {
  font-size: 4rem;
  color: #ff8787;
  margin-top: 0;
}
.hero-txt {
  font-size: 1.5rem;
  text-align: justify;
  width: 40rem;
  color: #ffc9c9;
  font-weight: 600;
  margin-top: 5rem;
}
.cards {
  margin: 3rem 8rem 8rem 8rem;
  gap: 8rem;
  display: flex;
}
.card-text {
  margin: 0;
  text-align: center;
  color: #ff8787;
  font-size: 2rem;
  font-weight: 600;
}
.card-cont {
  margin-top: 5rem;
}
